<html>
    <head>
<title>home </title>
<link rel="stylesheet" href="/static/css.css">
    </head>
    <body >
     <div >
         <center>
        <div id="copyfooter" >
      all copy reserved by matan sultan 2020 &copy;
        </div>
         </center>


    </body>
</html>