<html>
    <head>
<title> </title>
    </head>
    <body >
        <%- include('partials/nav') %>
     <div >
<CENTER>
<h1>
    the page not found go to <a href="/">home page</a>
</h1>
    </CENTER>

    </body>
</html>