<html>
    <head>
<title>MatanProject  </title>
    </head>
    <body > 
        <%- include('partials/nav') %>
        <br><br><br><br><br>
      <center>
     <div id="continer-intro">
        <br>
        <p>
            <a href="/sign-in" class="myButton">sign in </a>
        
        </p>
   
     <p>
        <a href="/sign-up" class="myButton">sign up</a>

    </p>
    </div>
</div>
<%- include('partials/footer') %>
      </center>
    </body>
</html>