/* nav css */

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .topnav {
    overflow: hidden;
    background-color: rgb(177, 72, 118);
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color:     #cf4b77;
    color: black;
  }
  
  .topnav a.active {
    background-color: #cf4b77;
    color: white;
  }

/* footer */
  #copyfooter{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:  rgb(177, 72, 118);
    color: white;
    text-align: center;
  }
/* 
  intro  */

  .myButton {
    box-shadow:inset 5px 1px 25px 0px #e184f3;
    background-color:transparent;
    border-radius:20px;
    border:4px solid #a511c0;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:28px;
    font-weight:bold;
    padding:17px 40px;
    text-decoration:none;
    text-shadow:0px 1px 36px #9b14b3;
  }
  .myButton:hover {
    background-color:transparent;
  }
  .myButton:active {
    position:relative;
    top:1px;
  }

  

  #continer-intro{
 position: relative;
 

    background-color: rgb(251, 113, 180);
    color: white;
    text-align: center;
    width: 250px;
    height: 250px;
  }

  /* //login page */
  
  #main-container{
    background-color:  rgb(214, 183, 196);
    color: white;
    text-align: center;
    width: 250px;
    height: 250px;
  }
  /* ***************************register page  *********************/
 
  #main-container-sign-up{
    background-color:  rgb(214, 183, 196);
    color: white;
    text-align: center;
    width: 380px;
    height: 300px;
  }
